* {
  padding: 0;
  margin: 0;
}

.plscrollbar::-webkit-scrollbar {
  width: 5px;
}

.plscrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: white;
}

.plscrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #ccc;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 124px;
  width: 100%;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  padding: 0 300px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
  z-index: 999;
}

.header .menu_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.header .menu_box li {
  margin-right: 40px;
  list-style: none;
  color: #7e7e7e;
  font-family: poppins;
  font-size: 16px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all ease .2s;
  transition: all ease .2s;
}

.header .menu_box li.active {
  color: #dd4242;
}

.header .menu_box li.contact {
  border: 2px solid #7e7e7e;
  padding: 8px 27px;
  border-radius: 50px;
  color: #0f172a;
}

.header .menu_box li.contact:hover {
  background-color: #dd4242;
  color: #fff;
  border-color: #dd4242;
}

.header .menu_box li.contact.active {
  background-color: #dd4242;
  color: #fff;
  border-color: #dd4242;
}

.header .menu_box li:hover {
  color: #dd4242;
  cursor: pointer;
}

.header .menu_box .underline {
  height: 2px;
  background-color: #dd4242;
  display: inline-block;
  position: absolute;
  bottom: -5px;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.header.roll_up {
  height: 84px;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.banner {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 930px;
  background-image: url(../img/banner/1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.banner .banner_content {
  display: inline-block;
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;
  padding: 200px 300px;
  max-width: 710px;
}

.banner .banner_content h3 {
  font-size: 75px;
}

.banner .banner_content .middle_text {
  color: #dd4242;
  font-size: 75px;
}

.banner .banner_content .banner_text {
  font-size: 18px;
  font-family: poppins;
  font-weight: 500;
  margin-top: 40px;
  color: #7e7e7e;
  line-height: 32px;
}

.banner .banner_content .link_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  cursor: pointer;
}

.banner .banner_content .link_box .icon {
  display: inline-block;
  width: 66px;
  height: 66px;
  background-color: #dd4242;
  border-radius: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner .banner_content .link_box .icon::after {
  content: "";
  border: 10px solid white;
  border-left-width: 15px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  position: relative;
  left: 7px;
}

.banner .banner_content .link_box .icon:hover {
  background-color: #0f172a;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.banner .banner_content .link_box .discription {
  margin-left: 20px;
  font-family: poppins;
  font-size: 15px;
  font-weight: 400;
}

.banner .banner_content .link_box .discription .top {
  display: block;
  color: #7e7e7e;
}

.banner .banner_content .link_box .discription .bottom {
  display: block;
  color: #dd4242;
}

.banner .banner_content .link_box .discription hr {
  margin: 10px 0 8px;
}

#show-video {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 999 !important;
  background: rgba(0, 0, 0, 0.85);
  display: none;
  text-align: center;
}

.video-close {
  width: 45px;
  height: 45px;
  z-index: 999;
  cursor: pointer;
  position: absolute;
  color: #fff;
  margin-top: 3%;
}

#show-video video {
  outline: none;
  max-width: 85%;
  max-height: 88vh;
  margin-top: 5%;
}
