// reset css
* {
    padding: 0;
    margin: 0;
}

//滚动条样式
.plscrollbar {
    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        background-color: white;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
        background-color: #ccc;
    }
}

.header {
    display: flex;
    height: 124px;
    width: 100%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 0 300px;
    box-sizing: border-box;
    transition: all ease .5s;
    z-index: 999;
    .menu_box {
        display: flex;
        justify-content: space-between;
        position: relative;
        li {
            margin-right: 40px;
            list-style: none;
            color: #7e7e7e;
            font-family: poppins;
            font-size: 16px;
            font-weight: 500;
            display: flex;
            align-items: center;
            transition: all ease .2s;
            &.active {
                color: #dd4242;
            }
            &.contact {
                border: 2px solid #7e7e7e;
                padding: 8px 27px;
                border-radius: 50px;
                color: #0f172a;
                &:hover {
                    background-color: #dd4242;
                    color: #fff;
                    border-color: #dd4242;
                }
                &.active {
                    background-color: #dd4242;
                    color: #fff;
                    border-color: #dd4242;
                }
            }
            &:hover {
                color: #dd4242;
                cursor: pointer;
            }
        }
        .underline {
            height: 2px;
            background-color: #dd4242;
            display: inline-block;
            position: absolute;
            bottom: -5px;
            transition: all ease 0.3s;
        }
    }
    &.roll_up {
        height: 84px;
        background-color: #fff;
        box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    }
}

.banner {
    box-sizing: border-box;
    height: 930px;
    background-image: url(../img/banner/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    .banner_content {
        display: inline-block;
        font-weight: 600;
        font-family: 'Times New Roman', Times, serif;
        padding: 200px 300px;
        max-width: 710px;
        h3 {
            font-size: 75px;
        }
        .middle_text {
            color: #dd4242;
            font-size: 75px;
        }
        .banner_text {
            font-size: 18px;
            font-family: poppins;
            font-weight: 500;
            margin-top: 40px;
            color: #7e7e7e;
            line-height: 32px;
        }
        .link_box {
            display: flex;
            align-items: center;
            margin-top: 50px;
            cursor: pointer;
            .icon {
                display: inline-block;
                width: 66px;
                height: 66px;
                background-color: #dd4242;
                border-radius: 33px;
                display: flex;
                justify-content: center;
                align-items: center;
                &::after {
                    content: "";
                    border: 10px solid white;
                    border-left-width: 15px;
                    border-top-color: transparent;
                    border-right-color: transparent;
                    border-bottom-color: transparent;
                    position: relative;
                    left: 7px;
                }
                &:hover {
                    background-color: #0f172a;
                    transition: all ease 0.5s;
                }
            }
            .discription {
                margin-left: 20px;
                font-family: poppins;
                font-size: 15px;
                font-weight: 400;
                .top {
                    display: block;
                    color: #7e7e7e;
                }
                .bottom {
                    display: block;
                    color: #dd4242;
                }
                hr {
                    margin: 10px 0 8px;
                }
            }
        }
    }
}

// 弹窗样式
#show-video {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 999 !important;
    background: rgba(0, 0, 0, .85);
    display: none;
    text-align: center;
}

.video-close {
    width: 45px;
    height: 45px;
    z-index: 999;
    cursor: pointer;
    position: absolute;
    color: #fff;
    margin-top: 5%;
}

#show-video video {
    // width: 100%;
    outline: none;
    max-width: 85%;
    max-height: 88vh;
    margin-top: 5%;
}